* {
    box-sizing: border-box; 
}

html,
body {
    padding: 0;
    margin: 0; 
    font-size: 100%; 
    font-family: "open sans", Arial, Helvetica, sans-serif;
    line-height: 1.4em; 
}

/* alle linker i dokumentet */
a {
    text-decoration: none;
    color: black;
}

.overskrift {
    width: 100%; 
    text-align: center; 
    position: relative;
    top: 3rem; 
    font-family: "pt serif", arial, helvetica, sans-serif; 
    font-size: 1.7rem; 
    font-weight: 400;
}

.tidslinje {
    width: 100%; 
    height: 1px;
    background-color:#565656; 
    position: relative;
    top: 20rem; /* ≈ 325px */ 

    /* Plasserer elementene på linja */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly; 
    align-items: flex-end;
}

/* link til sidene */
.tidslinje .link {
    position: relative;
    top: 12.7rem;
    text-align: center;

    display: grid;
    grid-template-rows: 30px 110px 30px 30px 110px;
    grid-row-gap: 1.5rem;
    align-items: center;
    justify-items: center;
}

.link p {
    position: relative;
    font-family: "open sans", arial, helvetica, sans-serif;
    margin: 0;
}

.link p.årstall {
    position: relative;
    width: auto; 
    height: auto;
    padding: 1.5px 12px; 
    background-color: white;
    font-weight: 600;
    font-size: .9rem;
    text-align: center;

    border: 1px solid #565656;
    border-radius: 20px;
}

.link img {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}

.link .strek {
    width: 1px;
    height: 35px;
    background-color: black;
    position: absolute;
}

.link .strek.over {
    top: 155px;
}

.link .strek.under {
    top: 216px;
}

.link #verdensbildet, .link #quiz {
    margin-top: 20px;
    font-size: .9rem;
    font-weight: 100;
}

#quiz-knapp {
    width: 100px;
    height: 100px;
    border: 1.5px solid black;
    border-radius: 50px;
    text-align: center;
    margin-top: -15px;
}

#quiz-knapp p {
    /* font-family: "pt serif", arial, helvetica, sans-serif; */
    font-size: 3.5rem;
    font-weight: 800;
    margin: 0;
    padding-top: 33%;
}